html, body {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
}

#loader {
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
	margin: 0 auto;
	cursor: wait;
	text-align: center;
}

#loader div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#background {
	z-index: 0;
	pointer-events: none;
}

#background, #background img {
	min-height: 100%;
	min-width: 100%;
}

#banner {
	height: 10em;
	width: 100%;
	padding: 10px;
	margin-top: -5em;
	top: 50%;
	text-align: center;
}

#banner img {
	min-width: 40%;
	max-width: 90%;
}

#bukkitdev {
	top: 1px;
	left: 1px;
}

#github {
	bottom: 1px;
	left: 1px;
}

#season {
	bottom: 0;
	right: 0;
}

#donate {
	top: 1px;
	right: 1px;
}

#donate img {
	width: 13px;
}

.small-icon img {
	opacity: 0.9;
	height: 20px;
	width: 20px;
}

.link {
	z-index: 1;
	position: absolute;
}

.link :hover {
	opacity: 0.88;
}